[run]
source =
   geminidr
   gemini_instruments
   gempy
   recipe_system
omit =
   */conftest.py
   */*tests/*
   */gempy/library/config/*
   */geminidr/*/recipes/*

[report]
show_missing = false
exclude_lines =
    pragma: no cover
    def __repr__
    def _ipython_key_completions_
    raise NotImplementedError
    if __name__ == .__main__.:
