include README.md
include LICENSE
include tox.ini
include gempy/library/config/README

recursive-include geminidr *.dat
recursive-include geminidr *.fits
recursive-include gempy *.c
recursive-include gempy *.pyx

graft geminidr/gemini/lookups/source_detection
graft gempy/numdisplay
graft recipe_system/adcc/client

global-exclude *.py[cod] __pycache__ *.so .directory .git
