body {
  background-color: #F2F2F2;
  color: black;
  font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding: 10px;
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.apertureInfo {
  padding: 10px 15px;
}

.frameInfo {
  background-color: #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.framePlot {
  padding: 10px 0px;
  width: inherit;
}

.stackInfo {
  background-color: #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stackPlot {
  padding: 10px 0px;
  width: inherit;
}

.jqplot-xaxis-label {
  padding: 0px;
}

.jqplot-yaxis-label {
  padding: 3px;
  transform: rotate(-90deg)
}

.jqplot-grid-canvas {
  width: auto;
}
