body {
  background-color: #F2F2F2;
  color: black;
  font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding: 10px;
}

button.settings {
  border: 0px;
  background-color: inherit;
  transition: all .2s linear;
}

button.settings img {
  width: 100%;
  height: 100%;
}

button.settings:hover {
  border: 0px;
  background-color: #d9d9d9;
}

button.settings:active,
button.settings:focus {
  border: 0px;
  background-color: #c1c1c1;
}

div.settings {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: all .5s linear;
  border-radius: 5px;
  cursor: default;
}

div.settings div.settings-content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
    margin: auto;
    padding: 10px 20px 20px 20px;
    width: 50%;
}

div.settings button {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    width: 100px;
    padding: 5px 10px 5px 10px;
}

div.settings button:hover {
    cursor: pointer;
    background-color: #d9d9d9;
    border: 1px solid #c1c1c1;
}

div.settings button:focus {
    cursor: pointer;
    background-color: #c1c1c1;
}

div.settings form {
    padding-top: 5px;
    padding-bottom: 10px;
}

div.settings h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}

div.settings input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 2px;
    text-align: right;
    width: 50px;
}

img.settings {
    width: 100%;
    height: 100%;
}

.apertureInfo {
  padding: 5px 7px;
}

.app-info-field {
  transition: all .25s linear;
  border-radius: 5px;
  padding: 2px;
  cursor: default;
}

.app-info-field:hover {
  background-color: #ddd;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.countdown {
  padding-right: 5px;
}

.countdown .number {
  width: 30px;
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.online {
  background-color: #4da6ff;
}

.dot.offline {
  background-color: #b30000;
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

.footer {
  color: #999;
  font-size: 10pt;
  margin-top: 5px;
}

.header {
  margin: 0px;
  line-height: 0.5;
}

.info {
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px 15px;
  width: inherit;
}

.info.single {
    margin-bottom: 5px;
}

.info.stack {
    margin-bottom: 5px;
    margin-top: 5px;
}

.info p.d-table-cell {
    padding-top: 5px;
    padding-bottom: 5px;
}

.jqplot-grid-canvas {
  height: inherit;
}

.loading {
  color: #333;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 30%;
}

.not-available {
  color: #aaa;
  text-align: center;
}

.no-data {
  font-size: 16px;
  color: #aaa;
}

.plot {
  padding: 0px;
  width: 96%;
}

.resizable {
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
  text-align: center;
  min-height: 100px;
  width: inherit;
}

.tar {
  text-align: right;
}

.ui-button {
  border-radius: 5px;
  height: 32px;
  width: 32px;
  padding: 4px;
}

.ui-resizable-helper {
  border: 2px solid gray;
}

.ui-tabs .ui-tabs-panel {
  width: inherit;
}

.ui-tooltip {
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }

.w-100 {
  width: 100%;
}

.zoom-reset {
  width: 100%;
  height: 100%;
}

#specViewer {
  transition: all .5s linear;
}

#specViewer ul.ui-tabs-nav li.ui-tabs-tab.ui-tabs-active a.ui-tabs-anchor {
    cursor:default;
}

#specViewer ul.ui-tabs-nav li.ui-tabs-tab {
    cursor:pointer;
}
