/* https://codepen.io/KanatSahanov/pen/raGXXa */

body {
    margin: 0px;
}

#plot_div {
    margin: 8px 8px 30px 8px;
}

#top-icon {
    background-image: url('DRAGONS.png');
    background-repeat: no-repeat;
    float: left;
    height: 128px;
    width: 128px;
}

#top-banner {
    height: 76px;
    background-color: #5384a5;
    font: helvetica;
    font-style: italic;
    color: white;
}

#top-primitive-info {
    position: absolute;
    float: left;
    padding-left: 128px;
    padding-right: 256px;
}

#top-title {
    font-size: 48px;
    font: helvetica;
    font-style: italic;
    color: white;
}

#top-primitive-name {
    font-size: 16px;
    font: helvetica;
    font-style: italic;
    color: white;
}

#filename-info {
    font-size: 16px;
    width: 256px;
    float: right;
    text-alight: right;
    height: 64px;
    margin-top: 48px;
    float: right;
    font: helvetica;
    font-style: italic;
    color: white;
}

.submit-info {
    border: 2px solid black;
    padding-left: 8px;
    padding-right: 8px;
}

#top {
    height: 128px;
    width: 100%;
}

#footer {
    background-color: #5384a5;
    font: helvetica;
    font-style: italic;
    font-size: 14px;
    color: white;
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 12px;
}
#footer a {
    color: white;
}

.modal_overlay {
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8888aa88;
    z-index: 2;
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    padding-top: 200px;
}

.hamburger_helper button.bk-btn {
    background-image: url('hamburger.svg');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: 5px;
    padding-left: 20px;
    appearance: none;
    border: none;
    text-align: left;
}

div.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}

.detailed_help dt {
  font-weight: bold;
}
