
body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    font-size: 16px;
    }

.bk {
    position: unset;
}

.bk-btn.bk-btn-success {
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    transition: all .2s ease-in-out;
}

.bk-btn.bk-btn-warning {
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    transition: all .2s ease-in-out;
}


.bk-root {
    width: fit-content;
}

.container {
    background-color: white;
    box-shadow: 0px 0px 10px #f5f5f5;
    margin: auto;
    max-width: 1240px;
    }

.footer {
    background-color: steelblue;
    color: gainsboro;
    font-size: 14px;
    margin: 10px 0px 0px 0px;
    padding: 5px;
    text-align: right;
    width: inherit;
    }

.footer a {
    color: gainsboro;
    transition: all .2s ease-in-out;
}

.footer a:hover {
    color: white;
}

.plot_div {
    height: 100%;
    padding: 10px;
    }

.top {
    background-color: steelblue;
    box-shadow: 0px 10px 10px #f5f5f5;
    color: white;
    display: block;
    margin: 0px 0px 10px 0px;
    width: inherit;
    }

.top .banner {
    padding: 10px;
    vertical-align: middle;
    width: 100%;
}

.top .banner .help input {
    background-color: steelblue;
    border: 0px solid white;
    border-radius: 20px;
    color: gainsboro;
    font-size: 16px;
    float: right;
    margin-right: 32px;
    padding: 10px 20px 10px 20px;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

.top .banner .help input:hover {
    background-color:  #5a91bf;
    border: 0px solid white;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.top .banner .help input:active {
    background-color:  #325d81;
    border: 0px solid white;
    color: white;
    cursor: pointer;
}

.top .banner .primitive-name {
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    padding: 10px;
    vertical-align: middle;
}

.top .banner .title {
    color: white;
    font-size: 36px;
    vertical-align: middle;
}

.top .filename-info {
    background: white;
    color: #666666;
    padding: 10px;
}

.top .logo {
    float: left;
    padding: 10px;
}

.top .logo img {
    height: 72px;
}
