
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-color: white;
    font-family: sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    }

.bk-btn.bk-btn-danger {
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 35px;
    transition: all .2s ease-in-out;
}

.bk-btn.bk-btn-primary {
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 15px;
    transition: all .2s ease-in-out;
}

.bk-btn.bk-btn-success {
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 35px;
    transition: all .2s ease-in-out;
}

.bk-btn:hover {
    border: none;
    filter: saturate(90%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.bk-btn:active {
    border: none;
    filter: brightness(90%);

    /* Inner shadow */
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2) inset;
}

.bk-root {
    height: 100%;
    width: 100%;
}

.container {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: table;
    height: 100%;
    margin: auto;
    width: 100%;
    }

.content {
    display: table-row;
    height: 100%;
}

.help-page {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 25px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: all .5s linear;
  border-radius: 5px;
  cursor: default;
}

.help-page .help-content {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
    margin: auto;
    margin-bottom: 100px;
    overflow: scroll;
    padding: 10px 20px 20px 20px;
    width: 90%;
}

.modal_overlay {
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    text-align: center;
    font-family: sans-serif;
    padding-top: 200px;
    transition: all .5s linear;
}

.modal_overlay .modal_textbox {
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
    font-size: 18px;
    margin: auto;
    padding: 20px;
    width: 40%;
}

#close-btn {
    background-color: silver;
    border: 1px solid darkgray;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    margin-right: 32px;
    outline: none;
    padding: 10px 30px;
    transition: all .4s ease-in-out;
}

#close-btn:hover {
    border: 1px solid darkgray;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    filter: brightness(130%);
}

#close-btn:active {
    border: 1px solid darkgray;
    cursor: pointer;
    filter: brightness(85%);

    /* Inner shadow */
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) inset;
}

#footer {
    background-color: steelblue;
    color: gainsboro;
    font-size: 14px;
    font-style: normal;
    margin: 10px 0px 0px 0px;
    padding: 5px;
    position: static;
    text-align: right;
    width: inherit;
    }

#footer a {
    color: gainsboro;
    transition: all .2s ease-in-out;
}

#footer a:hover {
    color: white;
}

#help-btn {
    background-color: steelblue;
    border: 0px solid white;
    border-radius: 5px;
    color: gainsboro;
    font-size: 18px;
    float: right;
    position: relative;
    right: 36px;
    outline: none;
    padding: 10px 30px;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

#help-btn:hover {
    border: 0px solid white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    filter: brightness(115%);
    outline: none;
}

#help-btn:active {
    border: none;
    border-bottom: none;
    color: white;
    cursor: pointer;
    filter: brightness(85%);
    outline: none;

    /* Inner shadow */
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) inset;
}

#top {
    background-color: steelblue;
    color: white;
    display: block;
    height: auto;
    margin: 0px;
    width: inherit;
    }

#top .banner {
    padding: 10px;
    vertical-align: middle;
    width: 100%;
}

#top .banner .primitive-name {
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    padding: 10px;
    vertical-align: middle;
}

#top .banner .title {
    color: white;
    font-size: 36px;
    vertical-align: middle;
}

#top .logo {
    float: left;
    padding: 10px;
}

#top .logo img {
    height: 72px;
}

#main_div {
    height: 100%;
    padding: 0px 15px 0px 15px;
    display: table-cell;
    overflow-y: auto;
    }