{% extends base %}

{% block preamble %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
{% endblock %}

{% block postamble %}
<!-- favico stuff -->
<link rel="apple-touch-icon" sizes="57x57" href="/dragons/static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/dragons/static/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/dragons/static/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/dragons/static/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/dragons/static/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/dragons/static/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/dragons/static/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/dragons/static/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/dragons/static/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/dragons/static/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/dragons/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/dragons/static/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/dragons/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/dragons/static/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/dragons/static/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- end favico stuff -->

<link rel="stylesheet" href="dragons/static/dragons.css">
<link rel="stylesheet" href="dragons/static/css/loading.css">
<link rel="stylesheet" href="dragons/static/css/{{ css_template }}">

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script src="dragons/static/modal.js"></script>
<script src="dragons/static/version.js"></script>
<script src="dragons/static/js/loading.js"></script>
{% endblock %}

{% block contents %}

    <!-- modal, for long running bokeh code -->
    <div class="modal_overlay">
        <div class="modal_textbox">
            <b>Thinking...</b>
        </div>
    </div>

<div class="container">

    <header id="top">
        <div class="logo"><img src="dragons/static/DRAGONS.png"></div>
        <div class="banner">
            <span class="title">{{ primitive_name }}</span>
            <button id="help-btn" type="button" onclick="openHelpPopup('Trace Apertures - Help')">Help</button>
        </div>
    </header>

    <section id="plot_div" class="content" style="border: 0px solid">
        <!-- add tabIndex="-1" to the div if we need to make it key-listenable -->
        <div id="main_div">
            {% block main_div %}
                {% for doc in docs %}
                    {{ embed(doc) if doc.elementid }}
                    {% for root in doc.roots %}
                        {{ embed(root) | indent(10) }}
                    {% endfor %}
                {% endfor %}
            {% endblock %}
        </div>
    </section>

    <footer id="footer">
    Made with <a href="https://github.com/GeminiDRSoftware/DRAGONS">DRAGONS</a>&nbsp;&nbsp;
    </footer>

</div> <!-- end container -->

<script type="text/javascript">
    // $("#plot_div").keydown(function(event) {
    // document.getElementById("plot_div").addEventListener("keydown", function(event){
    // doing whole document.  Or we could figure out how to target a bokeh-generated container div
    // preventDefault causes the key not to pass to any widgets that are in focus, such as a text input
    window.controller_keys_enabled=false;

    function setupKeyListener() {
       document.addEventListener("keydown", function(event){
           if (window.controller_keys_enabled == true) {
               if ((event.key >= 'a' && event.key <= 'z') || event.key === '*' || event.key === '[' || event.key === ']') {
                   var url = '/handle_key?key=' + event.key
                   $.ajax(url)
                   event.preventDefault()
                   return
               }
           }
       });
    }

    window.addEventListener('load', setupKeyListener);
    var help_popup = null;

    function openHelpPopup() {
      if (help_popup == null || help_popup.closed) {
        help_popup = window.open(
          window.location + "help",
          "Find Source Apertures Help",
          "resizable=yes,scrollbars=yes,status=yes,height=800,width=800"
        );
      } else {
        help_popup.focus();
      };
    };


    window.onbeforeunload = function() {
      help_popup.close();
    };


    // Apply css to shadow DOM elements
    css_path = "/dragons/static/dragons.css";

    // This is a hack.  We should be able to do this in the bokeh, but because
    // of the way it's presently set up it requires a lot of boilerplate code
    // across all bokeh models.  So instead we do it here, by recursively
    // applying the CSS stylesheet to all shadow DOMs.
    function linkCSSStylesheet(sroot)
    {
        // Just return and do nothing if sroot is null or undefined
        if (!sroot) {
            return;
        }

        // Recursively apply the CSS stylesheet to the shadow DOM
        if (sroot.children.length > 0) {
            for (var i = 0; i < sroot.children.length; i++) {
                linkCSSStylesheet(sroot.children[i].shadowRoot);
            }
        }

        // If the shadow DOM already has the CSS stylesheet, then return
        if (sroot.querySelector(`link[href='${css_path}']`)) {
            return;
        }

        const linkElem = document.createElement("link");
        linkElem.setAttribute("rel", "stylesheet");
        linkElem.setAttribute("href", css_path);

        // Attach the created element to the shadow DOM
        if (typeof sroot.appendChild === "function") {
            sroot.appendChild(linkElem);
            // Print debug message
        } else {
            // Log this to the console.
            console.log("Shadow DOM not found, got", sroot, "instead.");
            console.trace();
            return;
        }
    }

    function runBkScript() {
        // This script less the Shadow DOMs know about the CSS stylesheet. This
        // is a workaround for the shadow-DOM updates to bokeh in v3.0.0

        // Check if the bokeh document is loaded, fetch all the top nodes.
        if ((window.Bokeh.documents[0] !== undefined)) {
            var tags = document.getElementsByTagName('*')
            
            for (var i = 0; i < tags.length; i++) {
                var node = tags[i];

                linkCSSStylesheet(node.shadowRoot);
            };

        } else {
            setTimeout(runBkScript, 1000);
        }
    }

    window.onload = function() {
        runBkScript();
    }
</script>

{% endblock %}
