
.modal_overlay {
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8888aa88;
    z-index: 2;
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    padding-top: 200px;
}
