body {
    background-color: #F2F2F2;
    color: black;
    font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 0;
}

#message_wrapper {
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    -moz-box-shadow: 2px 0px 2px #888;
    -webkit-box-shadow: 2px 0px 2px #888;
    box-shadow: 2px 0px 2px #888;
    clear: both;
    height: 40px;
    padding: 0px;
    width: 1036px;
    position: relative;
}
#message_box {
    height: 10px;
    padding-left: 17px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
#message_target,#message_window {
    float:left;
}
#problem_overlay {
    -moz-box-shadow: 0 0 4px 4px #CE0000;
    -webkit-box-shadow: 0 0 4px 4px #CE0000;
    box-shadow: 0 0 4px 4px #CE0000;
    display: none;
    height: 40px;
    width: 1036px;
    padding: 0px;
    z-index: 0;
}
#warning_overlay {
    -moz-box-shadow: 0 0 4px 4px #FF9E00;
    -webkit-box-shadow: 0 0 4px 4px #FF9E00;
    box-shadow: 0 0 4px 4px #FF9E00;
    display: none;
    height: 40px;
    width: 1036px;
    padding: 0px;
    z-index: 0;
}

#table_wrapper {
    background-color: white;
    border: 1px solid black;
    border-top-right-radius: 6px;
    -moz-box-shadow: 2px 0px 2px #888;
    -webkit-box-shadow: 2px 0px 2px #888;
    box-shadow: 2px 0px 2px #888;
    clear: both;
    height: 340px;
    overflow: hidden;
    width: 1036px;
}

thead.fixed_header tr {
    border-bottom: 1px solid black;
}

thead.fixed_header th {
    padding: 2px 1px 2px 1px;
    text-align: center;
}

tbody.scroll_body {
    background-color: white;
    border-bottom: 1px solid #B0B0B0;
}

tbody.scroll_body td {
    text-align: center;
    padding: 2px 1px 2px 1px;
}

tbody.scroll_body td.hover {
    background-color: #B0DBFF;
}

tfoot.fixed_footer tr {
    position: relative;
}

tfoot.fixed_footer td.filter {
    position: absolute;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    right: 16px;
}

tfoot.fixed_footer td.filter_message {
    padding-left: 14px;
}

tfoot.fixed_footer input.filter {
    width: 150px;
}

.no_input {
    color: #707070;
}

#date_wrapper {
    background-color: #D3EBFF;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-box-shadow: 2px 0px 2px #888;
    -webkit-box-shadow: 2px 0px 2px #888;
    box-shadow: 2px 0px 2px #888;
    padding: 4px;
    text-align: center;
    width: 180px;
}

.label {
    font-weight: bold;
}
div.label {
    float:left;
}
.highlight {
    background-color: #86C7FF!important;
}
.even {
    background-color: #D3EBFF;
}
th.ui-draggable {
    cursor: move;
}
th.ui-draggable-dragging {
    background-color: #DDD;
    box-shadow: 2px 2px 2px #888;
    opacity: 0.85;
    filter:alpha(opacity=85);
}
td.ui-draggable-dragging {
    background-color: #DDD;
}
th.ui-droppable.hover {
    background-color: #B0DBFF;
}

#plot_wrapper {
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    -moz-box-shadow: 2px 0px 2px #888;
    -webkit-box-shadow: 2px 0px 2px #888;
    box-shadow: 2px 0px 2px #888;
    clear: both;
    height: 340px;
    padding: 10px 0px 0px 0px;
    width: 1036px;
}

#iqplot {
    float: left;
    margin: 10px;
    width: 320px;
}
#ccplot {
    float: left;
    margin: 10px;
    width: 320px;
}
#bgplot {
    float: left;
    margin: 10px;
    width: 320px;
}


.jqplot-title {
    left:57px!important;
    width:253px!important;
    color: black;
}
canvas.jqplot-xaxis-label {
    left:auto!important;
    right:0px!important;
}

/* Fix the highlighting on jqplots that happens when double-clicked
 to zoom out*/
div.jqplot-target div::selection, div.jqplot-target canvas::selection, div.jqplot-axis jqplot-yaxis canvas::selection, div.jqplot-axis jqplot-xaxis canvas::selection {
    background: rgba(0, 0, 0, 0);
}
div.jqplot-target div::-moz-selection, div.jqplot-target canvas::-moz-selection, div.jqplot-axis jqplot-yaxis canvas::-moz-selection, div.jqplot-axis jqplot-xaxis canvas::-moz-selection {
    background: rgba(0, 0, 0, 0);
}

td.jqplot-series-hidden div.jqplot-table-legend-swatch {
    opacity: 0.4;
    filter:alpha(opacity=40);
}

.tooltip,.jqplot-highlighter-tooltip {
    background-color: #FFFFD0!important;
    border: 1px solid #B0B0B0!important;
    padding: 2px!important;
    z-index: 90;
}
.jqplot-canvasOverlay-tooltip {
    border: 0px;
    font-size: 0.75em;
    background: rgba(256,256,256,0);
    padding: 0px;
}

#controls_wrapper {
    background-color: #D3EBFF;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    clear: both;
    height: 32px;
    margin: 0px;
    padding: 0px;
    width: 1036px;
    position: relative;
}
#controls {
    margin: 0px;
    left: 0px;
    padding: 0px;
    position: absolute;
}
#controls li {
    background-color: white;
    border: 1px solid #888;
    border-radius: 6px;
    -moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow: 1px 1px 1px #888;
    float: left;
    list-style-type: none;
    margin: 4px;
    padding: 3px;
    text-align: center;
}
#controls li.selected {
    background-color: #B0DBFF;
}
#reset, #status {
    cursor: pointer;
}
#help {
    cursor: help;
}

#lightbox_background {
    background-color: black;
    display: none;
    filter:alpha(opacity=70);
    opacity: 0.7;
    position: fixed;
    left: 0px;
    top: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: 99;
}
#lightbox_window {
    display: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    height: 190px;
    width: 400px;
    padding: 10px 15px 10px 15px;
    border: 1px solid black;
    z-index: 100;
    -moz-box-shadow: 3px 3px 3px black;
    -webkit-box-shadow: 3px 3px 3px black;
    box-shadow: 3px 3px 3px black;
    border-radius: 6px;
}
#lightbox_window h2 {
    color:#CE0000;
}
#lightbox_message {
    height: 110px;
    width: 100%;
    overflow: auto;
}

#help_window {
    background-color: #FFFFD0;
    border: 1px solid black;
    border-radius: 6px;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
    height: 200px;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    top: 50%;
    width: 400px;
    z-index: 98;
}
#accordion_wrapper {
    height: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow-y: auto;
    padding-left: 18px;
    padding-right: 18px;
}
#accordion {
    padding-left: 12px;
}
#accordion h3 {
    position: relative;
}

span.warning {
    color: #FF9E00;
}
span.problem {
    color: #CE0000;
}
.outer {
    position: relative;
}
.problem_icon {
    position: absolute;
    top: -2px;
    right: -1px;
    background-image: url(../images/red_triangle_ne.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 7px;
    overflow: hidden;
    text-indent: -99999px;
    width: 7px;
}
.warn_icon {
    position: absolute;
    top: -2px;
    right: -1px;
    background-image: url(../images/yellow_triangle_ne.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 7px;
    overflow: hidden;
    text-indent: -99999px;
    width: 7px;
}
.msg_problem_icon {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -5px;
    background-image: url(../images/red_triangle_e.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    overflow: hidden;
    text-indent: -99999px;
    width: 6px;
}
.msg_warn_icon {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -5px;
    background-image: url(../images/yellow_triangle_e.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    overflow: hidden;
    text-indent: -99999px;
    width: 6px;
}
.swap_icon {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    background-image: url(../images/swap.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 9px;
    overflow: hidden;
    text-indent: -99999px;
    width: 11px;
}

.close_icon {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    overflow: hidden;
    text-indent: -99999px;
    width: 12px;
}

.search_icon {
    position: absolute;
    left: -12px;
    top: 50%;
    margin-top: -5px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 9px;
    overflow: hidden;
    text-indent: -99999px;
    width: 10px;
}
.expand_icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -8px;
    margin-top: -5px;
    background-image: url(../images/yellow_triangle_e.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    overflow: hidden;
    text-indent: -99999px;
    width: 6px;
}
.unexpand_icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -12px;
    margin-top: -3px;
    background-image: url(../images/yellow_triangle_s.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 6px;
    overflow: hidden;
    text-indent: -99999px;
    width: 11px;
}

.stack_window {
    background-color: #FFFFD0;
    border: 1px solid black;
    border-radius: 6px;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
    height: 400px;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    top: 50%;
    width: 250px;
    z-index: 98;
}
.stack_wrapper {
    height: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow-y: auto;
    padding-left: 18px;
    padding-right: 18px;
}
.stack_link {
    color: #0000EE;
}
.stack_link:hover {
    text-decoration: underline;
}

/*Force visible scrollbar for Lion*/
#main ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 16px;
}
#main ::-webkit-scrollbar-track {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.3);
}
#main ::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.5);
}
