
/* , a .rst-content tt, a .rst-content code */

.rst-content code.xref {
    background-color: transparent;
    border: solid 1px transparent;
    color: #2980B9;
    padding: 0px 0px;
    font-size: 80%;
    }

.rst-content code.xref:hover {
    /* border: solid 1px #e1e4e5; */
    text-decoration: underline;
    }
