include ReleaseNote
include INSTALL
include Copyright
global-include RECIPES_Gemini/recipe.*
include RECIPES_Gemini/primitives/primitives_List.txt
recursive-include RECIPES_Gemini/doc *
prune Engineering
recursive-include ADCONFIG_Gemini *