include ReleaseNote
include INSTALL
include README
include Copyright
global-include RECIPES_Gemini/recipe.*
recursive-include RECIPES_Gemini/doc *
prune Engineering
recursive-include ADCONFIG_Gemini *