<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>QAP SpecViewer</title>
  <link rel="shortcut icon" href="favicon.ico" />

  <link rel="stylesheet" href="/react/css/rspecviewer.css">

</head>


<body>

  <div class="wrapper">

    <div class="header">
      <h2> QAP SpecViewer (Using React) </h2>
    </div>

    <div id="content">
      <div id="main">

      </div>
    </div>

    <div class="footer">
      Add info about QAP SpecViewer
    </div>

  </div>

</body>

</html>
