.tr_head {
  background-color: #A0A0FF;
  font-size: small
}

.tr_odd {
  background-color: #F0F0FF;
  font-size: small
}

.tr_even {
  background-color: #E0E0FF;
  font-size: small
}

.tr_warnodd {
  background-color: #FFF0F0;
  font-size: small
}

.tr_warneven {
  background-color: #FFE0E0;
  font-size: small
}

